@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;400;800&family=Saira+Semi+Condensed:wght@200;400&display=swap');

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: center;
    color: #000000;
}

.heading {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4.5em;
}

.game-area {
    margin: auto;
    width: 80%;
    height: 380px;
    background: url(../images/Marvel.jpeg) no-repeat, center;
    background-size: 100%;

}

#start-btn {
    text-decoration: none;
    font-size: 2.5em;
}

a:focus {
    color: #000000;
}

a:hover {
    color: #FFFFFF;
    background: rgb(235, 27, 27);
    padding-left: 20px;
    padding-right: 20px;

}
