@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;400;800&family=Saira+Semi+Condensed:wght@200;400&display=swap');

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: center;
    color: #000000;
}

/* start page/ quiz page */

.heading {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4.5em;
}

.hero-image {
    margin: auto;
    width: 80%;
    height: 390px;
    background: url(../images/Marvel.jpeg) no-repeat, center;
    background-size: 100%;

}

#start-btn {
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
}

a {
    color: #000000;
}

a:hover {
    color: #FFFFFF;
    background: rgb(235, 27, 27);
    padding-left: 20px;
    padding-right: 20px;

}

a, h1 {
    text-decoration: none;
    color: #000000;
}

a, h1:hover {
    color: rgb(235, 27, 27);
}

/* quiz area */

 .quiz-area {
    margin: auto;
    width: 75%;
    height: 390px;
    background-color: rgba;
}

#question {
    font-size: 1.5em;
    font-weight: 800;
}

.option-box {
    margin: auto;
    background-color: rgba(255, 70, 65, 1);
    border-radius: 0.3em;
    width: 70%;
    transition-duration: 0.4s;
}

.option-box:hover {
    background: rgb(250,204,95);
    width: 74%;
}

.score {
    float: left;
}